
	<div class="form_wrapper_recall">
		<div class="content_block">
			<div class="form_main_recall">
				<div class="form_close" data-close-recall></div>

				<div class="form_title">
					<p class="form_title_main">{{ title ? title : 'Затрудняетесь с выбором?'}}</p>
					<p class="form_title_main">{{ title2 ? title2 : 'Мы перезвоним в ближайшее время'}}</p>
				</div>

				<form class="form_block" action="/ajax/form/" data-form-target="{{target}}">
					<input type="hidden" name="type" value="{{ type ? type : 'main'}}" />
					<div class="form_inputs">
						<div class="input_wrapper">
							<input type="text" name="name" data-required placeholder="Ваше имя"/>
						</div>
						<div class="input_wrapper">
							<input type="text" name="phone" data-required placeholder="+7 (999) 888 88 88" autocomplete="off"/>
						</div>
						<div class="input_wrapper _big_width">
							<textarea name="comment" data-required placeholder="Комментарий" rows="2" maxlength="200"></textarea>
						</div>
					</div>

					{% if target == 'zal' %}
						<input type="hidden" name="venue_id" value="{{venue_id}}" />
					{% endif %}

					<div class="form_submit">
						<button class="_button">Отправить</button>
						<div class="form_policy checkbox_item _active" data-action="form_checkbox">
							<input type="checkbox" name="policy" class="personalData">
							<p class="checkbox_pseudo" >Я согласен с <a target="_blank" href="{{app.params.siteProtocol}}://{{app.params.siteAddress}}/politika/">политикой конфиденциальности</a></p>
						</div>
					</div>
						
				</form>

			</div>
			<div class="form_success_recall">
				<p class="form_title_main" data-form-result-title>Заявка успешно отправлена</p>
				<p data-form-result-body>Спасибо за обращение. Мы перезвоним Вам в ближайшее время.</p>
				<p class="form_close_bottom" data-close-recall>Закрыть</p>
			</div>
		</div>
	</div>
