
	<div class="form_wrapper">
		<div class="content_block">
			<div class="form_main">
				<div class="form_close" data-close-popup></div>

				<form class="form_block" action="/ajax/form/" data-form-target="{{target}}">
					<div class="form_title">
						<p class="form_title_main">{{ title ? title : 'Затрудняетесь с выбором?'}}</p>
						<p class="form_title_main"><span class="for-free">Бесплатно </span>{{ title2 ? title2 : 'подберем заведение под ваше мероприятие!'}}</p>
					</div>

					<input type="hidden" name="type" value="{{ type ? type : 'main'}}" />
					<div class="form_inputs">
						<div class="input_wrapper">
							<input type="text" name="name" data-required placeholder="Ваше имя"/>
						</div>
						<div class="input_wrapper">
							<input type="text" name="phone" data-required placeholder="+7 (999) 888 88 88" autocomplete="off"/>
						</div>
						<div class="input_wrapper">
							<input type="text" name="email" data-required placeholder="Электронная почта" />
						</div>
						{# <div class="input_wrapper date_wrapper">
							<input type="text" name="date" readonly  data-required placeholder="Дата" class="not_check_approove"/>
							<div class="input_wrapper_date_wrapper" style="display: none;">
							</div>
						</div> #}
						<div class="input_wrapper _big_width">
							<textarea name="comment" data-required placeholder="Сообщение" rows="2" maxlength="200"></textarea>
						</div>
					</div>

					{% if target == 'zal' %}
						<input type="hidden" name="venue_id" value="{{venue_id}}" />
					{% endif %}

					<div class="form_submit">
						<button class="_button" type="submit">Отправить</button>
						<div class="form_policy checkbox_item _active" data-action="form_checkbox">
							<input type="checkbox" name="policy" class="personalData" checked="">
							<p class="checkbox_pseudo" >Я согласен с <a target="_blank" href="{{app.params.siteProtocol}}://{{app.params.siteAddress}}/politika/">политикой конфиденциальности</a></p>
						</div>
					</div>
				</form>

				<div class="form_success" data-success>
					<p class="form_title_main" data-form-result-title>Заявка успешно отправлена</p>
					<p data-form-result-body>Спасибо за проявленный интерес. Мы свяжемся с вами в течение рабочего дня, чтобы обсудить детали.</p>
					<p class="form_close_bottom" data-close-popup>Закрыть</p>
				</div>
			</div>
		</div>
	</div>
