<ul class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
	{% set singleIdx = 0 %}
	{% set multipleIdx = 0 %}
	{% for crumb in seo.breadcrumbs %}
		{% if crumb.type == 'multiple' and multipleIdx == 0 %}
			{% set singleIdx = singleIdx + 1 %}
			{% set multipleIdx = singleIdx %}
		{% endif %}
		{% if crumb.type == 'single' %}
			{% set singleIdx = singleIdx + 1 %}
		{% endif %}
		{% if crumb.type == 'multiple' and (seo.breadcrumbs[loop.index].type != 'single') %}
			{% set item_class = 'breadcrumbs_item_multiple' %}
		{% else %}
			{% set item_class = 'breadcrumbs_item_single' %}
		{% endif %}
		<li class="breadcrumbs_item {{item_class}}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" typeof="ListItem">
			<a itemprop="item" typeof="WebPage" href="{{crumb.link}}">
				<span itemprop="name">{{crumb.name}}</span>
				<meta itemprop="position" content="{{crumb.type == 'multiple' ? multipleIdx : singleIdx }}">
			</a>
		</li>
	{% endfor %}
</ul>
<div class="title">
	<h1>{{seo.h1}}</h1>
	{# <!--div class="title_desc"><p>{{seo.desc}}</p></div--> #}
	{# <!--div class="title_address"><p>{{seo.address}}</p></div--> #}
</div>
