<ul class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
	{% for crumb in seo.breadcrumbs %}
		<li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" typeof="ListItem">
			<a itemprop="item" typeof="WebPage" href="{{crumb.link}}">
				<span itemprop="name">{{crumb.name}}</span>
				<meta itemprop="position"  content="{{loop.index}}">
			</a>
		</li>
	{% endfor %}
</ul>
<div class="title">
	<h1>{{seo.h1|raw}}</h1>
	<div class="title_count">{{count}}
		заведен{{Declension.get_num_ending(count,['ие','ия','ий'])}}</div>
</div>
