{{this.registerMetaTag({'property':'og:title','content':seo.h1|raw})}}
{{this.registerMetaTag({'property':'og:description','content':(this.params['desc'] ? this.params['desc'] : seo.h1|raw)})}}
{{this.registerMetaTag({'property':'og:type','content':'website'})}}
{{this.registerMetaTag({'property':'og:url','content':app.params.siteProtocol~'://'~app.params.domen~'/catalog/restoran-'~item.restaurant_slug~'/'})}}
{{this.registerMetaTag({'property':'og:image','content':Declension.get_image_src(item.restaurant_cover_url)})}}
<div data-page-type="item">

    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="rest_top_wrap" itemscope itemtype="https://schema.org/Restaurant"> 
        <div class="content_block">
            <div class="rest_top_left">
                <div class="object_meta">
                    <div class="object_meta_item">
                        <p class="object_meta_title">Средний чек:</p>
                        <p class="object_meta_value">{{ min_price ? 'от '~min_price~' ₽/чел.' : 'по запросу'}}</p>
                    </div>
                    <div class="object_meta_item">
                        <p class="object_meta_title">Забронировать по телефону:</p>
                        <div class="object_book_hidden">
                            <p class="object_book_phone object_meta_value">
                                <span class="object_fake_phone">+7 xxx xxx-xx-xx</span>
                                <!--a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a-->
                            </p>
                            <div class="object_book_hidden_button" data-popup-phone data-target="lid_pokazat_nomer">Показать номер</div>
                            <div class="popup_wrap popup_phone_wrap" data-popup-phone-wrap>
                                <div class="popup_phone">
                                    <div class="form_close" data-close-popup></div>
                                    <p class="popup_phone_title">Ресторан <span itemprop="name">{{item.restaurant_name}}</span></p>
                                    <div class="popup_phone_present">
                                        <img loading="lazy" src="/img/present.svg">
                                        <p>Забронируй зал и получи подарок!</p>
                                    </div>
                                    <a href="tel:{{item.restaurant_phone}}" class="popup_real_phone"><span itemprop="telephone">{{item.restaurant_phone}}</span></a>
                                    <p class="popup_phone_address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                        {{item.restaurant_address|raw}}
                                        <meta content="{{app.params.subdomen_name}}" itemprop="addressLocality">
                                        <meta content="{{item.restaurant_address|split(', ')[1:]|join(', ')}}" itemprop="streetAddress">
                                    </p>
                                    <link href="{{ Declension.get_image_src(item.restaurant_cover_url) }}" itemprop="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rest_top_right">
                <div class="object_meta">
                    <div class="object_meta_item">
                        <p class="object_meta_title">Залы:</p>
                        <p class="object_meta_value">{{rooms_capacity|length}} помещени{{Declension.get_num_ending(rooms_capacity|length,['е','я','й'])}}: 
                            {% for slug, capacity in rooms_capacity%}
                                <a href="/catalog/restoran-{{item.restaurant_slug}}/{{slug}}/">{{capacity}}</a>
                                {{loop.last ? '' : ', '}}
                            {% endfor %}
                         человек</p>
                    </div>
                    {% if item.restaurant_cuisine %}
                    <div class="object_meta_item">
                        <p class="object_meta_title">Кухня:</p>
                        <p class="object_meta_value">{{item.restaurant_cuisine}}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="object_meta">
                    <div class="object_meta_item">
                        <p class="object_meta_title">Адрес:</p>
                        <a class="item_address" href="#map" data-target="karta">{{item.restaurant_address|raw}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if item.restaurant_images %}
    <div class="object_gallery_wrap _rest">
        <div class="listing_widget_arrow _prev"></div>
        <div class="listing_widget_arrow _next"></div>
        <div class="object_gallery_container swiper-container" data-gallery-main-swiper data-gallery-swiper> 
            <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                {% for image in item.restaurant_images%}
                    <div class="object swiper-slide">
                        <div class="object_img">
                            <img loading="lazy" src="{{ Declension.get_image_src(image.waterpath~'=w800-h600-l100') }}" data-gallery-img-view/>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="listing_widget_controll">
                <div class="listing_widget_pagination"></div>
            </div> 
        </div>
        <div class="content_block">
            <div class="object_gallery_container swiper-container" data-gallery-thumb-swiper style="">
                <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                    {% for image in item.restaurant_images%}
                        <div class="object swiper-slide">
                           <img loading="lazy" src="{{ Declension.get_image_src(image.realpath~'=w150-h90-l80') }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="rest_desc_wrap">
        <div class="content_block">
            <div class="rest_desc">
                <div class="rest_desc_col">
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">Тип ресторана</p>
                        <p class="rest_desc_value">
                            {% for type in item.restaurant_types%}
                                {{loop.first ? type.name : type.name|lower}}{{loop.last ? '' : ', '}}
                            {% endfor %}
                        </p>
                    </div>  
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">Расположение</p>
                        {% set location = {'1':'Около моря','2':'Около реки','7':'Около озера','3':'В горах','4':'В городе','5':'В центре города','6':'За городом'} %}  
                        <p class="rest_desc_value">
                            {% for type in item.restaurant_location%}
                                {{loop.first ? location[type.id] : location[type.id]|lower}}{{loop.last ? '' : ', '}}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">Алкоголь</p>
                        {{item.restaurant_alcohol == 1 ? '<p class="rest_desc_value _check">В наличии</p>':''}}
                        <p class="rest_desc_value _check">{{item.restaurant_own_alcohol|replace({' алкоголь': ''})}}</p>
                    </div>
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">Парковка</p>
                        <p class="rest_desc_value">{{item.restaurant_parking ? Declension.get(item.restaurant_parking,'мест',true) : 'Нет'}}</p>
                    </div>
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">Оплата</p>
                        <p class="rest_desc_value">{{item.restaurant_payment}}</p>
                    </div>
                </div>

               {% if item.restaurant_special %} 
                <div class="rest_desc_col">
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">Особенности</p>
                        {% set specials = item.restaurant_special|split(', ') %}
                        {% for special in specials%}
                        <p class="rest_desc_value _check">{{special}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                {% if item.restaurant_extra_services %}
                {% set extras = item.restaurant_extra_services|split(', ') %}
                <div class="rest_desc_col">
                    <div class="rest_desc_item">
                        <p class="rest_desc_title">За дополнительную плату</p>
                        
                        {% for extra in extras%}
                        <p class="rest_desc_value _check">{{extra}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% if seo.text_1 %}
            <div class="rest_desc_text">
                <div class="rest_desc_item seo_text" data-seo-text>
                    <p class="rest_desc_title">Описание</p>
                    <div class="rest_desc_value">{{seo.text_1|raw}}</div>
                    <div class="seo_text_control" data-seo-control>
                        <p class="_link">Показать полностью</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="rest_rooms_wrap">
        <div class="content_block same_objects">
            <h2>Залы ресторана</h2>
            <div class="same_objects_wrap">
                {% for same_object in same_objects %}
                    <div class="same_object">
                        <div class="same_object_img">
                            <div class="same_object_img_item">
                               <img loading="lazy" src="{{ Declension.get_image_src(same_object.images[0].realpath ? (same_object.images[0].realpath~'=w250-h170-l90') : same_object.cover_url|replace({'w445-h302-n-l95':'w250-h170-l90'})) }}">
                            </div>
                            <div class="same_object_img_item">
                               <img loading="lazy" src="{{ Declension.get_image_src(same_object.images[1].realpath ? (same_object.images[1].realpath~'=w250-h170-l90') : same_object.cover_url|replace({'w445-h302-n-l95':'w250-h170-l90'})) }}">
                            </div>
                        </div>
                        <div class="same_object_desc">
                            <div class="title"><a href="/catalog/restoran-{{item.restaurant_slug}}/{{same_object.slug}}/">{{same_object.name}}</a></div>
                            <div class="object_desc_item">
                               <p class="object_desc_title">Вместимость:</p>
                               <p class="object_desc_value">{{same_object.capacity}} человек</p>
                            </div>
                            {% if same_object.price %}
                            <div class="object_desc_item">
                               <p class="object_desc_title">Стоимость аренды без еды:</p>
                               <p class="object_desc_value">{{same_object.price}} ₽</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="map" name="map">
        <div class="map_data_wrap">
            <div class="map_data">
                <div class="map_img_wrap">
                    <img loading="lazy" class="map_img" src="{{ Declension.get_image_src(item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'})) }}">
                </div>
                
                <a href="/catalog/restoran-{{item.restaurant_slug}}/" class="map_rest_name">{{ item.restaurant_name }}</a>
                <p class="map_rest_address">{{ item.restaurant_address }}</p>
                <p class="map_close">Спасибо, закрыть</p>
            </div>
        </div>
        <div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-balloon="" data-hint="">

        </div>
    </div>

    {% if other_rests %}
    <div class="listing_wrap other_rests_wrap">
        <h2>Похожие рестораны</h2>
        <div class="content_block" data-widget-wrapper>
            <div class="listing_widget_arrow _prev"></div>
            <div class="items_list_listing swiper-container" data-listing-wrapper>
                <div class="items_list swiper-wrapper" data-listing-list>
                    {{ this.render('//components/generic/listing.twig', {'items':other_rests}) | raw }}
                </div>
                <div class="listing_widget_controll">
                    <div class="listing_widget_pagination"></div>
                </div>  
            </div>
            <div class="listing_widget_arrow _next"></div>  
        </div>
    </div>
    {% endif %}
{{ this.render('//components/generic/form.twig', {'title': 'Поможем выбрать зал на день рождения', 'target': 'podval_rest'}) | raw }}