{{this.registerMetaTag({'property':'og:title','content':seo.h1|raw})}}
{{this.registerMetaTag({'property':'og:description','content':(this.params['desc'] ? this.params['desc'] : seo.h1|raw)})}}
{{this.registerMetaTag({'property':'og:type','content':'website'})}}
{{this.registerMetaTag({'property':'og:url','content':app.params.siteProtocol~'://'~app.params.domen~'/catalog/restoran-'~item.restaurant_slug~'/'})}}
{{this.registerMetaTag({'property':'og:image','content':Declension.get_image_src(item.restaurant_cover_url)})}}
<div data-page-type="item">
    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="rest_top_wrap" itemscope itemtype="https://schema.org/Restaurant"> 
        <div class="content_block">
            <div class="rest_top">
                <div class="rest_top_left">
                    <div class="object_meta">
                        <div class="object_meta_item">
                            <p class="object_name">{{item.restaurant_name}}</p>
                            {% if type != 'other' %}

                            {# ЯКОРЬ ЗАМЕНИТЬ НА СКРИПТ #}
                            <p class="object_address"><a href="#map"><span>{{item.restaurant_address}}</span></a></p>
                            {% endif %}

                            {% if item.rooms %}  
                            <p class="item_desc">{{item.rooms|length}} открытых площадки</p>
                            {% endif %}
                            
                            {% if item.rooms %}
                            <p class="item_desc">Вместимость:
                            {% set min_price = 100000000 %}
                            {% for room in item.rooms %}
                            {{room.capacity}}{{loop.last ? '' : ','}}
                            {% set min_price = room.price and (min_price > room.price) ? room.price : min_price %}
                            {% endfor %}
                            человек</p>
                            {% endif %}

                            {% if min_price and min_price != 100000000 %}
                            <p class="item_desc">Стоимость:<span class="object_price">от {{min_price}}р на человека</span></p>
                            {% endif %}
                        </div>

                        <div class="object_meta_item">
                            <div class="item_wrap">
                                <div class="item_left_side">
                                    <p class="object_meta_title">Тип заведения</p>
                                    <div><p></p></div>
                                </div>
                                <p class="object_meta_value">
                                {% for type in item.restaurant_types%}
                                    {{loop.first ? type.name : type.name|lower}}{{loop.last ? '' : ', '}}
                                {% endfor %}
                                </p>
                            </div>

                            <div class="item_wrap">
                                <div class="item_left_side">
                                    <p class="object_meta_title">Расположение</p>
                                    {% set location = {'1':'Около моря','2':'Около реки','7':'Около озера','3':'В горах','4':'В городе','5':'В центре города','6':'За городом'} %}
                                    <div><p></p></div>
                                </div>
                                <p class="object_meta_value">
                                {% for type in item.restaurant_location%}
                                {{loop.first ? location[type.id] : location[type.id]|lower}}{{loop.last ? '' : ', '}}
                                {% endfor %}
                                </p>
                            </div>

                            <div class="item_wrap">
                                <div class="item_left_side">
                                    {% if item.restaurant_cuisine %}
                                    <p class="object_meta_title">Кухня</p>
                                    <div><p></p></div>
                                </div>
                                <p class="object_meta_value">{{item.restaurant_cuisine}}</p>
                                {% endif %}
                            </div>

                            <div class="item_wrap">
                                <div class="item_left_side">
                                    <p class="object_meta_title">Сервисы за отдельную плату</p>
                                    <div><p></p></div>
                                </div>
                                <p class="object_meta_value">{{item.restaurant_payment}}</p>
                            </div>
                        </div>

                        <div class="object_meta_item">
                            {% if item.restaurant_special %} 
                            <div class="item_wrap">
                                <div class="item_left_side">
                                    <p class="object_meta_title">Особенности</p>
                                    {% set specials = item.restaurant_special | split(' ') %}
                                    <div><p></p></div>
                                </div>
                                <div class="object_meta_value">
                                    {% for special in specials%}
                                    {{special}}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if item.restaurant_extra_services %}
                            {% set extras = item.restaurant_extra_services|split(', ') %}
                            <div class="item_wrap">
                                <div class="item_left_side">
                                    <p class="object_meta_title">Способы оплаты</p>
                                    <div><p></p></div>
                                </div>
                                <div class="object_meta_value">
                                    {% for extra in extras%}
                                    <span class="object_meta_value">{{extra}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="object_meta">
                        <div class="object_meta_item">
                            <div class="object_book_hidden">
                                <p class="object_book_phone object_meta_value">
                                    <span class="object_fake_phone">+7 xxx xxx-xx-xx</span>
                                    <!--a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a-->
                                </p>
                                <div class="object_book_hidden_button" data-popup-phone data-target="lid_pokazat_nomer">Показать телефон</div>
                                <div class="popup_wrap popup_phone_wrap" data-popup-phone-wrap>
                                    <div class="popup_phone">
                                        <div class="form_close" data-close-popup></div>
                                        <p class="popup_phone_title">Ресторан <span itemprop="name">{{item.restaurant_name}}</span></p>
                                        <a href="tel:{{item.restaurant_phone}}" class="popup_real_phone"><span itemprop="telephone">{{item.restaurant_phone}}</span></a>
                                        <p class="popup_phone_address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                            {{item.restaurant_address|raw}}
                                            <meta content="{{app.params.subdomen_name}}" itemprop="addressLocality">
                                            <meta content="{{item.restaurant_address|split(', ')[1:]|join(', ')}}" itemprop="streetAddress">
                                        </p>
                                        <link href="{{ Declension.get_image_src(item.restaurant_cover_url) }}" itemprop="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="object_meta_item">
                            
                            {# ЯКОРЬ ЗАМЕНИТЬ НА СКРИПТ #}
                            <a class="free_order" href="#order_form">Забронировать бесплатно</a>
                        </div>
                    </div>
                </div>

                <div class="rest_top_right">
                    {% if item.restaurant_images %}
                    <div class="object_gallery_wrap _rest">
                        {# <div class="listing_widget_arrow _prev"></div>
                        <div class="listing_widget_arrow _next"></div> #}
                        <div class="object_gallery_container swiper-container" data-gallery-main-swiper data-gallery-swiper> 
                            <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                                {% for image in item.restaurant_images%}
                                    <div class="object swiper-slide">
                                        <div class="object_img">
                                            <img loading="lazy" src="{{ Declension.get_image_src(image.waterpath~'=w800-h600-l100') }}" data-gallery-img-view/>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {# <div class="listing_widget_controll">
                                <div class="listing_widget_pagination"></div>
                            </div>  #}
                        </div>
                        <div class="object_gallery_block">
                            <div class="object_gallery_container swiper-container" data-gallery-thumb-swiper style="">
                                <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                                    {% for image in item.restaurant_images%}
                                        <div class="object swiper-slide">
                                        <img loading="lazy" src="{{ Declension.get_image_src(image.realpath~'=w150-h90-l80') }}"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="rest_order_block">
                    <div class="order_block_wrap">
                        <p class="order_block_title">Забронировать<br>это место</p>
                        <div class="object_book_hidden">
                            <p class="object_book_phone object_meta_value">
                                <span class="object_fake_phone">+7 xxx xxx-xx-xx</span>
                                <!--a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a-->
                            </p>
                            <div class="object_book_hidden_button" data-popup-phone data-target="lid_pokazat_nomer">Показать телефон</div>
                            <div class="popup_wrap popup_phone_wrap" data-popup-phone-wrap>
                                <div class="popup_phone">
                                    <div class="form_close" data-close-popup></div>
                                    <a href="tel:{{item.restaurant_phone}}" class="popup_real_phone"><span itemprop="telephone">{{item.restaurant_phone}}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="order_block_call">Заказать звонок</div>
                        <div class="order_block_arr">&#10094;</div>
                    </div>
                </div>
            </div>

            <div class="rest_desc_wrap">
                {# {% if seo.text_1 %} #}
                <div class="rest_desc_text">
                    <div class="rest_desc_item seo_text" data-seo-text>
                        <div class="object_meta_value"><p>Понтон на воде 400 м2 с белым шатром 260 м2. Вмещает до 180 постояльцев банкетной рассадкой. На территории понтона размещаются 2 маленькие веранды, которые уже входят в стоимость аренды, а на свободных от шатра углах устроилась мягкая мебель. Шатер оборудован барной стойкой со светодиодной подсветкой, необходимым для вечернего освещения количеством люстр, а на каждой стальной дуге вывешены световые «Пары».</p>
                        {# {{seo.text_1|raw}} #}
                        </div>
                        <div class="seo_text_control" data-seo-control>
                            <p class="_link">Подробнее</p>
                        </div>
                    </div>
                </div>
                {# {% endif %} #}
            </div>
            
            <div class="rest_optional_wrap">
                <div class="rest_optional">Особенности</div>
                <div class="item_optional">
                    {% if item.restaurant_firework %}
                        <div class="optional">
                            <div class="optional__pic fire"></div>
                            <p>Площадка для фейерверка</p>
                        </div>
                    {% endif %} 
                    {% if item.restaurant_own_alcohol %}
                        <div class="optional">
                            <div class="optional__pic bocal"></div>
                            <p>Можно со своим алкоголем</p>
                        </div>
                    {% endif %}    
                    <div class="optional">
                        <div class="optional__pic outdoor"></div>
                        <p>Выездная регистрация</p>
                    </div>
                    <div class="optional">
                        <div class="optional__pic light"></div>
                        <p>Световое оборудование</p>
                    </div>
                    <div class="optional">
                        <div class="optional__pic music"></div>
                        <p>Живая музыка</p>
                    </div>
                    <div class="optional">
                        <div class="optional__pic disco"></div>
                        <p>Дискотека</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rest_rooms_wrap">
        <div class="content_block">
            <div class="rooms_widget_arrow _prev"></div>
            <div class="rooms_widget_arrow _next"></div>
            <div class="rest_rooms_list">Список залов</div>
            <div class="rest_rooms">

                <div class="other_objects_container swiper-container" data-other-objects-swiper>
                    <div class="other_objects_swiper swiper-wrapper" data-other-objects-list>
                        {% for same_object in same_objects %}
                            <div class="rest_room swiper-slide">
                                <div class="rest_room_img">
                                    <img loading="lazy" src="{{ Declension.get_image_src(same_object.images[0].realpath ? (same_object.images[0].realpath~'=w250-h170-l90') : same_object.cover_url|replace({'w445-h302-n-l95':'w250-h170-l90'})) }}">
                                </div>
                                <div class="rest_room_name"><a href="/catalog/restoran-{{item.restaurant_slug}}/{{same_object.slug}}/">{{same_object.name}}</a></div>

                                {% if min_price and min_price != 100000000 %}
                                <p class="rest_room_price"><span>от {{min_price}} руб./чел</span></p>
                                {% endif %}
                                <div class="rest_room_item">
                                    <p class="rest_room_title">Тип</p>
                                    <p class="rest_room_value">
                                    {{same_object.type_name}}
                                    </p>
                                </div>
                                <div class="rest_room_item">
                                    <p class="rest_room_title">Вместимость</p>
                                    <p class="rest_room_value">{{same_object.capacity}} человек</p>
                                </div>
                                <div class="rest_room_item">
                                    <p class="rest_room_title">Вместимость на фуршет</p>
                                    <p class="rest_room_value">{{same_object.capacity}} человек</p>
                                </div>
                                <div class="rest_room_item">
                                    <p class="rest_room_title">Светлый зал</p>
                                    <p class="rest_room_value">{{same_object.bright_room==0 ? 'нет' : 'да' }}</p>
                                </div>
                                <div class="rest_room_item">
                                    <p class="rest_room_title">Отдельный вход</p>
                                    <p class="rest_room_value">{{same_object.separate_entrance==0 ? 'нет' : 'да' }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="map_wrap">
        <div class="content_block">
            <div class="map" name="map">
                <div class="map_data_wrap">
                    <div class="map_data">
                        <div class="map_img_wrap">
                            <img loading="lazy" class="map_img" src="{{ Declension.get_image_src(item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'})) }}">
                        </div>
                        
                        <a href="/catalog/restoran-{{item.restaurant_slug}}/" class="map_rest_name">{{ item.restaurant_name }}</a>
                        <p class="map_rest_address">{{ item.restaurant_address }}</p>
                        <p class="map_close">Спасибо, закрыть</p>
                    </div>
                </div>
                <div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-balloon="" data-hint="">
                </div>
            </div>
        </div>
    </div>

    {% if other_rests %}
    <div class="listing_wrap other_rests_wrap">
        <div class="content_block">
            <div class="other_widget_arrow _prev"></div>
            <div class="other_widget_arrow _next"></div>  
            <div class="same_rest_list">Похожие заведения</div>

            <div class="items_list_listing swiper-container" data-other-rest-swiper>
                <div class="items_list swiper-wrapper">
                        {{ this.render('//components/generic/listing.twig', {'items':other_rests}) | raw }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="content_block">
        {{ this.render('//components/generic/form.twig', {'title': 'Бесплатно забронировать ' ~ item.restaurant_name, 'title2': 'Оставьте заявку, а мы перезвоним в ближайшее время!', 'target': 'podval_rest'}) | raw }}
    </div>
</div>