{{this.registerMetaTag({'property':'og:title','content':seo.h1|raw})}}
{{this.registerMetaTag({'property':'og:description','content':(this.params['desc'] ? this.params['desc'] : seo.h1|raw)})}}
{{this.registerMetaTag({'property':'og:type','content':'website'})}}
{{this.registerMetaTag({'property':'og:url','content':app.params.siteProtocol~'://'~app.params.domen~'/catalog/restoran-'~item.restaurant_slug~'/'})}}
{{this.registerMetaTag({'property':'og:image','content':Declension.get_image_src(item.restaurant_cover_url)})}}

<div data-page-type="aboutus">
	<div class="content_block">
		<h2>{{seo.h1|raw}}</h2>
		{{seo.text_1|raw}}
	</div>
	{{ this.render('//components/generic/form.twig',{'title': 'Обратная связь', 'target': 'podval_aboutus'}) | raw }}
</div>