<div class="blog_item blog_item_{{key}}">
	<div class="blog_img">
		<a href="{{ model.getUrl() }}"><img src="{{ model.getFileData('image').src }}"></a>
	</div>
	<div class="blog_text">
		<div class="blog_title">
			<a href="{{ model.getUrl() }}">{{ model.name }}</a>
		</div>
		<p class="blog_description">{{ model.short_intro }}</p>
		<p class="blog_date">{{ model.published_at }}</p>
	</div>
</div>