{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}


<div class="post-blog" data-page-type="index">
	<div class="fscreen_blog_top_image">
		<div class="fscreen_blog_top_slider">
			<img loading="lazy" src="{{ post.getFileData('image').src }}" alt="{{seo.media['header-image']|first.alt}}">
		</div>
		<div class="fscreen_blog_wrap">
			<div class="fscreen_blog_link">
				<a href="/blog/">Статьи блога</a>
			</div>
			<div class="fscreen_blog_label">{{ post.blogPostTags|map(t => t.blogTag.name)|join(' • ') }}</div>
			<div class="fscreen_blog_title">{{ post.name }}</div>
			<div class="fscreen_blog_date">{{ post.published_at|date("j") }}
				{{ mnths[post.published_at|date("n")] }}
				{{ post.published_at|date("Y") }}</div>
		</div>
	</div>

	<div class="content_block">
		{{ preview ? post.getBodyHtml()|raw : post.getHtml()|raw }}
	</div>
	{% if similarPosts %}
		<div class="other_objects same_blogs_wrap">
			<h2>Похожие статьи</h2>
			<div class="content_block">
				<div class="listing_widget_arrow _prev"></div>
				<div class="listing_widget_arrow _next"></div>
				<div class="swiper-container" data-other-blogs-swiper>
					<div class="swiper-wrapper" data-other-blogs-list>
						{% for similarPost in similarPosts %}
							<div class="blog_item swiper-slide">
								<div class="blog_img">
									<a href="{{ similarPost.getUrl() }}"><img src="{{ similarPost.getFileData('image').src }}"></a>
								</div>
								<div class="blog_text">
									<p class="blog_date">{{similarPost.getRusDate()}}</p>
									<a href="{{ similarPost.getUrl() }}">
										<p class="blog_title">{{ similarPost.name }}</p>
									</a>
									<p class="blog_description">{{ similarPost.short_intro }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="listing_widget_controll">
						<div class="listing_widget_pagination"></div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

</div>
